  <p><b>Cartesian Bio</b> is an early-stage (pre-funding) startup. We
are building a precision medicine tool that helps patients who have a
known disease, for which either (1) there is no known treatment, or (2) all
the known treatments have been tried but are not effective.</p>

  <p>Starting with a molecular profile of a tissue sample from the patient, 
we create a data-driven analysis of available therapies. The result is a report
that can guide the patient's physician to find a safe and effective
FDA-approved therapy.</p>

  <p>Check out our buzzword score:
     <li><b>patient-centric</b> - our focus is on the needs of patients, to get them the best therapy possible</li>
     <li><b>genomics</b> - it all starts with the patient's RNA</li>
     <li><b>biomedical informatics</b> - we crunch data to make better use of existing drugs, we are not inventing new ones</li>
     <li><b>precision medicine</b> - we use a patient's genetic expression data to recommend targeted therapies</li>
     <li><b>big data</b> - we use predictive algorithms to match patients to appropriate therapies</li>
  </p>

  <p>Cartesian Bio is a spinoff from the Department of Biomedical Informatics at Harvard Medical School.
We are based in Boston, MA.</p>
