<nav class="navbar navbar-default navbar-static-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">
	  <img class="logo" src="/img/cartesian-32h.png">
      </a>
    </div>
    <ul class="nav navbar-nav">
        <li class="role-none {% if page.navtab == 'home' %}active{% endif %}">
           <a href="/">Unknown user<span class="sr-only">(current)</span></a></li>
        <li class="role-lab {% if page.navtab == 'upload' %}active{% endif %}">
           <a href="/lab">Upload files<span class="sr-only">(current)</span></a></li>
        <li class="role-lab {% if page.navtab == 'log' %}active{% endif %}">
           <a href="/lab/log">Files log</a></li> 
        <li class="role-physician {% if page.navtab == 'signup' %}active{% endif %}">
           <a href="/physician/signup">Sign up</a></li> 
        <li class="role-physician {% if page.navtab == 'patients' %}active{% endif %}">
           <a href="/physician/patients">Patients</a></li> 
        <li class="role-patient {% if page.navtab == 'signup' %}active{% endif %}">
           <a href="/patient/signup">Sign up</a></li> 
        <li class="role-patient {% if page.navtab == 'patient' %}active{% endif %}">
           <a href="/patient">Your status</a></li> 
        <li class="role-expert {% if page.navtab == 'queue' %}active{% endif %}">
           <a href="/expert/queue">Analysis queue</a></li> 
        <li class="role-admin {% if page.navtab == 'accounts' %}active{% endif %}">
           <a href="/admin/accounts">Accounts</a></li> 
        <li class="role-admin {% if page.navtab == 'reports' %}active{% endif %}">
           <a href="/admin/reports">Reports</a></li> 
        <li class="role-admin {% if page.navtab == 'workflow' %}active{% endif %}">
           <a href="/admin/workflow">Workflow</a></li> 
        <li class="role-admin {% if page.navtab == 'finance' %}active{% endif %}">
           <a href="/admin/finance">Finance</a></li> 
    </ul>
    <div class="navbar-right">
         <div class="session">
            <div class="mugshot"></div>

	    <div class="dropdown">
              <button class="dropdown-toggle" type="button"
		      id="roleDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
		<span class="caret"></span>
		<div class="user_email"></div>
	      </button>
	      <ul id="dropdownRoles" class="dropdown-menu" aria-labelledby="roleDropdown">
                <li class="header"><a href="#">View as&hellip;</a></li>
                <li role="separator" class="divider"></li>
	      </ul>
	    </div>
            {% if page.has_login %}{% else %}
            <div id="login_button" class="login btn btn-default"><span>Login</span></div>
            {% endif %}
            <a class="logout_button">Log out</a>
         </div>
    </div>
  </div>
</nav>
