<nav class="navbar navbar-default navbar-static-top">
  <div class="container">
    <div class="navbar-header navbar-brand"><a href="/">Cartesian Bio</a></div>
    <ul class="nav navbar-nav">
        <li class="role-lab {% if page.navtab == 'upload' %}active{% endif %}">
           <a href="/lab">Upload files<span class="sr-only">(current)</span></a></li>
        <li class="role-lab {% if page.navtab == 'log' %}active{% endif %}">
           <a href="/lab/log">Files log</a></li> 
        <li class="role-physician {% if page.navtab == 'signup' %}active{% endif %}">
           <a href="/physician/signup">Sign up</a></li> 
        <li class="role-physician {% if page.navtab == 'patients' %}active{% endif %}">
           <a href="/physician/patients">Patients</a></li> 
        <li class="role-patient {% if page.navtab == 'signup' %}active{% endif %}">
           <a href="/patient/signup">Sign up</a></li> 
        <li class="role-patient {% if page.navtab == 'patient' %}active{% endif %}">
           <a href="/patient">Patient info</a></li> 
        <li class="role-expert {% if page.navtab == 'queue' %}active{% endif %}">
           <a href="/expert/queue">Analysis queue</a></li> 
        <li class="role-admin {% if page.navtab == 'accounts' %}active{% endif %}">
           <a href="/admin/accounts">Accounts</a></li> 
        <li class="role-admin {% if page.navtab == 'workflow' %}active{% endif %}">
           <a href="/admin/workflow">Workflow</a></li> 
        <li class="role-admin {% if page.navtab == 'finance' %}active{% endif %}">
           <a href="/admin/finance">Finance</a></li> 
    </ul>
    <div class="navbar-right">
         <div class="session">
            <div class="mugshot"></div>
            <div class="user_email">nobody</div>
            <div id="login_button" class="login btn btn-default">Login</div>
            <a class="logout_button">Log out</a>
         </div>
    </div>
  </div>
</nav>
