@import url(https://fonts.googleapis.com/css?family=Varela+Round);
@import url(https://fonts.googleapis.com/css?family=Titillium+Web);

$brand: #36bcab !default;

body, nav,  .container {
  font-family: 'Titillium Web', sans-serif;
}

div.not_logged_in {
}
div.logged_in {
   display: none;
   &.public {
   display: block;
   }
}

nav {
  li.role-physician, li.role-patient, li.role-lab, 
  li.role-expert, li.role-admin, li.role-none {
     display: none;
  }

  .role-physician.enabled, .role-patient.enabled, .role-lab.enabled,
  .role-expert.enabled, .role-admin.enabled, .role-none.enabled {
     display: inline;
  }

  .navbar-right {
     padding-top: .8em;
     margin-right: 1.5em;
  }
 vertical-align: middle;
  a.navbar-brand {
      span {
       position: relative;
       top: -.8em;
      }
      color: #777;
      &:hover { 
         color: #333;
         text-decoration: none;
         svg.logo polygon {
	 fill: darken($brand, 9%);
         }
      }
      img.logo {
         display: none;
      }
      svg.logo {
         width: 2em;
         height: 2em;
         margin-top: -.35em;
         margin-right: .3em;
         polygon {
	     fill: $brand;
         }
      }
  }

  .session {
    height: 100%;
    vertical-align: middle;

    div, a { display: none; }
    a { 
      cursor: pointer;
      font-size: 90%;
    }

    .login { 
       display: inline; 
       .spinner { margin-left: 1em;}
    }

    div.dropdown {
      display: inline;
      .caret { display: none; }
      li.header :hover { background-color: transparent; }

      .active a {
         color: #333;
 	 background-color: #DDD;
      }
    }

    button.dropdown-toggle {
      -webkit-appearance: none;
      appearance: none;
      background-color: transparent;
      border: none;
    }

    div.user_email {
      margin-right: 1em;
      font-weight: bold;
    }

    .mugshot {
      display: inline;
      vertical-align: middle;
      width: 32px;
      height: 32px;
      border-radius: 50%;
      background-color: #DDD;
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
    }
  }
}


/*  labfile upload (/lab) */

#fileupload {

   .btn-file {
       position: relative;
       overflow: hidden;
   }

   .btn-file input[type=file] {
       position: absolute;
       top: 0;
       right: 0;
       min-width: 100%;
       min-height: 100%;
       font-size: 100px;
       text-align: right;
       filter: alpha(opacity=0);
       opacity: 0;
       outline: none;
       background: white;
       cursor: inherit;
       display: block;
   }

   button.start {
       margin-top: 2em;     
   }
   p.upload_warn {
      font-style: italic;
   }

   #lab_id.form-group.has-error label, label#file.has-error {
       color: red;
   }
}


table.history, table.log, table.reports {
   margin-top: 2em;
}

table i.spinner {
    margin-right: 1em;
}


/* ---------- home page ----------- */

.home-page {
    .btn {
      margin-top: 3em;
      margin-right: 3em;
      &.login {
        &:hover {
          background-color: lighten($brand, 20%);
        }
       .spinner { margin-left: 1em;}
       background-color: lighten($brand, 40%);
       color: black;
       border: none;
      }
    }
    img.google-logo {
      height: 18px;
      width: 18px;
      margin-right: .5em;
      margin-bottom: .2em;
    }
}

.new-user {
    .roundrect { 
      margin-top: 2em;
      background-color: lighten($brand, 50%);
      border-radius: 10px;
      border: solid 1px #DDD;
      padding-bottom: 2em;
    }
    img.google-logo {
      height: 18px;
      width: 18px;
      margin-right: .5em;
      margin-bottom: .2em;
    }
    .btn-group {
      width: 600px;
    }
    .btn {
      margin-top: 1em;
      margin-right: 3em;
    }
    .fa-caret-left {
      margin-right: 1em;
    }
}

/* ---------- patient info ----------- */

.patient {
   form {
      a.enroll { margin-top: 2em; }
      .fine-print { width: 70% }
   }

   .progress-indicator {
      margin-top: 3em;
   
      .description {
         margin-top: .5em;
         font-size: 130%;
         text-transform: none;
       }
   }

   .step-descriptions {
       div { display: none;}
       ul {
         list-style: none;
         margin-left: 0;
         padding-left: 0;
       }
       li {
         margin-top: 1.3em;
         padding-left: 2em;
         text-indent: -1.7em;
       }
       li:before {
         content: "\f096";      /* font awesome square-o */
	 padding-right: 1em;
       }
   }

   footer {
     position: absolute;
     bottom: 3em;
   }
}

.patients {
   .label {
      color: #777;
      &.step-1 { background-color: #FFE; }
      &.step-2 { background-color: #EFF; }
      &.step-3 { background-color: #FEF; }
      &.step-4 { background-color: #EEF; }
      &.step-5 { background-color: #CEC; }
   }
}

/* ------------- careers ------------ */

div.careers {
   .positions a {
     font-size: 150%;
   }
   .btn {
    margin-top: 2em;
    margin-right: 2em;
    margin-bottom: 2em;
   }
   i.fa { 
    margin-right: 1em;
   }

}

/* ------------- accounts ------------ */

div.user {
   .deferred { display: none;}
   .loading .spinner { margin-right: 1em;}
   .row.checkboxes .checkbox {
      margin-top: -5px;
   }
}

div.accounts {
  .loading .spinner { margin-right: 1em; }
  .search { margin-top: 2em; }
}

div.account {
   .deferred { display: none;}
   .loading .spinner { margin-right: 1em;}
}

.profile {
    #name[readonly], #email[readonly] {
      background-color: white;
    }
    .action-buttons {
      margin-top: 4em;
      button {
        margin-right: 2em;
      }
    }
    .role-button {
         &:not(.active) {
          padding-left: 2.8em;
         }
         &.active {
            background-color: lighten($brand, 50%);
            &:before {
               font-family: FontAwesome;
	       color: #080;
               content: "\f00c";      /* font awesome check */
	       padding-right: 1em;
            }
         }
     }
}
