---
layout: default
navtab: accounts
title: Accounts
visible_to: ['admin']
---


<div class="container accounts">
  <h1>Accounts</h1>

  {% include search.html %}

   <table class="table table-striped log">
    <tr><th>Name</th><th>Email</th><th>Roles</th></tr>
    {% assign sorted = site.data.accounts | sort:"lname" %}
    {% for account in sorted %}
    <tr><td><a href="./account">{{ account.fname }} {{ account.lname }}<a></td>
        <td>{{ account.email }}</td>
        <td>{{ account.roles | join: ", " }}</td>
        </tr>
    {% endfor %}
   </table>

</div>
